extends ../layout
block header
    header#header(style="background-image: url('../images/seoul.jpg');")
        .container
            .intro-text
                .intro-lead-in Start a new trip with LunaBnB
                .intro-heading Check in Here!
                



block content
  .container
    .row
        // Blog Post Content Column
        .col-lg-8
            // Blog Post
            // Title
            h1 숙소 이름
              | &nbsp;
              a.btn_favorite.fa.fa-heart-o.btn-circle.btn-lg.btn-info.btn(style='float:right')

            // Author
            p.lead
                | 디트로이트, 미시간, 미국
            
            // Date/Time
            p
                span.glyphicon.glyphicon-time
                |  Posted on August 24, 2013 at 9:00 PM : 등록날짜
            hr

            
            // Post Content
            p.lead
                | 간단한 설명 
            hr
            p
                | 주소: 
            hr
            p
                | 요금: 
            hr
            p
                | 편의시설: 
            hr
            p
                | 이용 규칙:
            hr
            // Blog Comments
            // Preview Image
            //- img.img-responsive(src='http://placehold.it/900x300', alt='')
          
            // DaumMap
            #map(style='width:100%;height:400px;')
            script.
              var container = document.getElementById('map');
              var options = {
              center: new daum.maps.LatLng(33.450701, 126.570667),
              level: 3
              };
              var map = new daum.maps.Map(container, options);

            // Comments Form
            hr
            // 라이브리 시티 설치 코드
            #lv-container(data-id='city', data-uid='MTAyMC8yNzE4OC8zNzc2')
              script(type='text/javascript').
                (function(d, s) {
                var j, e = d.getElementsByTagName(s)[0];
                if (typeof LivereTower === 'function') { return; }
                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;
                e.parentNode.insertBefore(j, e);
                })(document, 'script');
              noscript  라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요
            // 시티 설치 코드 끝

        // Blog Sidebar Widgets Column
        .col-md-4
          // Blog Search Well
          #sidebar
            .well
              h2 ₩72740 / 1박
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              hr
              h5 Check In
              .inner-addon.right-addon
                i.fa.fa-calendar
                input#date_check_in.form-control.floating-label(type="text", placeholder="Select Date")
              h5 Check Out
              .inner-addon.right-addon
                i.fa.fa-calendar
                input#date_check_out.form-control.floating-label(type="text", placeholder="Select Date")
              hr  
              hr
              button.btn.btn-lg.btn-danger.btn-block(type='submit') 예약하기
            //- .well
            //-   h4 Side Widget Well
            //-   p
            //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
          // /.row
