extends ../layout
block header
    header#header(style="background-image: url('../images/seoul.jpg');")
        .container
            .intro-text
                .intro-lead-in Start a new trip with LunaBnB
                .intro-heading Check in here!
                



block content
  .container
    .row
        // Blog Post Content Column
        .col-lg-8
            // Blog Post
            // Title
            h1 숙소 이름
            // Author
            p.lead
                | 디트로이트, 미시간, 미국
            hr
            // Date/Time
            p
                span.glyphicon.glyphicon-time
                |  Posted on August 24, 2013 at 9:00 PM : 등록날짜
            hr
            // DaumMap
            #map(style='width:100%;height:400px;')
            script.
              var container = document.getElementById('map');
              var options = {
              center: new daum.maps.LatLng(33.450701, 126.570667),
              level: 3
              };
              var map = new daum.maps.Map(container, options);

            hr
            // Post Content
            p.lead
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!
            hr
            // Blog Comments
            // Preview Image
            img.img-responsive(src='http://placehold.it/900x300', alt='')
            hr

            // Comments Form
            hr
            // 라이브리 시티 설치 코드
            #lv-container(data-id='city', data-uid='MTAyMC8yNzE4OC8zNzc2')
              script(type='text/javascript').
                (function(d, s) {
                var j, e = d.getElementsByTagName(s)[0];
                if (typeof LivereTower === 'function') { return; }
                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;
                e.parentNode.insertBefore(j, e);
                })(document, 'script');
              noscript  라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요
            // 시티 설치 코드 끝

        // Blog Sidebar Widgets Column
        .col-md-4
          // Blog Search Well
          #sidebar
            .well
              h4 Blog Search
              .input-group
                input.form-control(type='text')
                span.input-group-btn
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-search
              // /.input-group
            // Blog Categories Well
            .well
              h4 Blog Categories
              .row
                .col-lg-6
                  ul.list-unstyled
                    li
                      a(href='#') Category Name
                    li
                      a(href='#') Category Name
                    li
                      a(href='#') Category Name
                    li
                      a(href='#') Category Name
                .col-lg-6
                  ul.list-unstyled
                    li
                      a(href='#') Category Name
                    li
                      a(href='#') Category Name
                    li
                      a(href='#') Category Name
                    li
                      a(href='#') Category Name
              // /.row
            // Side Widget Well
            .well
              h4 Side Widget Well
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
          // /.row
