extends ../layout
block header
    header#header(style="background-image: url('../images/list_bg.jpg');")
        .container
        // DaumMap
        #map(style='width:100%;height:550px;')
        script.
          $("#mainNav").addClass("navbar-inverse");
          var container = document.getElementById('map');
          var options = {
          center: new daum.maps.LatLng(33.450701, 126.570667),
          level: 3
          };
          var map = new daum.maps.Map(container, options);


block content
  .container
    // Page Header
    .row
      .col-lg-12
        h1.page-header
          | 숙소 목록
          small Secondary Text
    // /.row
    // Projects Row
    .row
      each room in rooms
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive.thumbnail(src=room.image.path + "/" + room.image.originalname, alt=room.image.path)
          h3
            a(href='#') Project Name
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/700x400', alt='')
          h3
            a(href='#') Project Name
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='http://placehold.it/700x400', alt='')
          h3
            a(href='#') Project Name
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    // /.row
    // Projects Row
    .row
      .col-md-4.portfolio-item
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x400', alt='')
        h3
          a(href='#') Project Name
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      .col-md-4.portfolio-item
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x400', alt='')
        h3
          a(href='#') Project Name
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      .col-md-4.portfolio-item
        a(href='#')
          img.img-responsive(src='http://placehold.it/700x400', alt='')
        h3
          a(href='#') Project Name
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
          // Pagination
    .row.text-center
      .col-lg-12
        ul.pagination
          li
            a(href='#') «
          li.active
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »
    // /.row
    hr
