extends ../layout

block content
  section#contact
    .container
      .row
        .col-lg-12.text-center
            h2.section-heading Profile
            h3.section-subheading.text-muted You can edit your Profile
          .col-lg-12.text-right
            
            a.btn.btn-md.btn-warning(href='/users/#{user._id}?_method=DELETE') 회원탈퇴

      .row
        .col-lg-12
          form#profileForm(action='/users/#{user._id}?_method=PUT', method='POST')
            .row
              .col-md-6
                .form-group
                  h3(for='name') NAME
                  input#name.form-control(value='#{user.name}',type='text', name='name',placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
                .form-group
                  h3(for='email') EMAIL
                  input#email.form-control(value='#{user.email}',type='email',readonly, name='email',placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
                //- .form-group
                //-   h3(for='current_password') CURRENT PASSWORD
                //-   input#current_password.form-control(type='password',name='current_password' ,placeholder='Your Currnet Password *', required='', data-validation-required-message='Please enter your Current Password.')
                //-   p.help-block.text-danger
                .form-group
                  h3(for='password') PASSWORD
                  input#password.form-control(type='password',name='password', placeholder='Your Password *', required='', data-validation-required-message='Please enter your password.')
                  p.help-block.text-danger
                .form-group
                  h3(for='password_confirmation') CONFIRM PASSWORD
                  input#password_confirmation.form-control(type='password', name='password_confirmation',placeholder='Confirm Your Password *', required='', data-validation-required-message='Please enter your phone number.')
                  p.help-block.text-danger
              .col-md-6
              
                .form-group
                  h3 INTRODUCE
                  textarea.form-control(rows=5,placeholder='Your Introduce *', required='', data-validation-required-message='Please enter a Introduce.')
                  p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                #success
                button.btn.btn-success.btn-lg(type='submit') Save
